@model LoginViewModel


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
<div class="box">
    <div class="title">
        <img src="~/logo.png" style="margin-left: 80px; position: fixed;"/>
    </div>
    @Html.ActionLink("Registrarse", "Registro", "Home",null, new {id = "register-btn"})
    <hr>
    @Html.LabelFor(x => x.Correo, new { @class = "", id = "user-title" })
    @Html.TextBoxFor(x => x.Correo, new { @class = "form-control", id = "email", placeholder = "Email" })
    @Html.ValidationMessageFor(x => x.Correo, null, new { @class = "text-danger" })

    @Html.LabelFor(x => x.Contraseña, new { @class = "", id = "pass-title" })
    @Html.PasswordFor(x => x.Contraseña, new { @class = "form-control", id = "password", placeholder = "Contraseña" })
    @Html.ValidationMessageFor(x => x.Contraseña, null, new { @class = "text-danger2" })
    <button id="btn_log" type="submit">
        Iniciar Sesión
    </button>
</div>
}