@model LoginViewModel


@using (Html.BeginForm("Registro", "Home", FormMethod.Post))
{
<div class="box">
    <div class="title-logo-Registro"></div>
    <hr>

    @Html.LabelFor(x => x.Correo, new { @class = "", id = "title", style = "margin: 30px 0px 0px 500px;" })
    @Html.TextBoxFor(x => x.Correo, new { @class = "form-control", id = "textBox", placeholder = "Email", style = "margin: 100px 0px 0px 530px;" })
    @Html.ValidationMessageFor(x => x.Correo, null, new { @class = "text-danger", style = "margin: 150px 0px 0px 570px; position: fixed;" })

    @Html.LabelFor(x => x.Contraseña, new { @class = "", id = "title", style = "margin: 180px 0px 0px 500px;" })
    @Html.PasswordFor(x => x.Contraseña, new { @class = "form-control", id = "textBox", placeholder = "Contraseña", style = "margin: 250px 0px 0px 530px;" })
    @Html.ValidationMessageFor(x => x.Contraseña, null, new { @class = "text-danger", style = "margin: 300px 0px 0px 570px; position: fixed;" })

    <button id="btn-general" type="submit" style = "margin: 350px 0px 0px 560px;">Crear Cuenta</button>
</div>
}